<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<div id="app">
  <label for="male">
<!--    本来用name  才能让radio互斥-->
<!--    <input type="radio" id="male" name="sex" value="man" v-model="sex">Male-->
    <input type="radio" id="male" value="man" v-model="sex">Male
  </label>
  <label for="male">
<!--    <input type="radio" id="female" name="sex" value="woman" v-model="sex">Female-->
    <input type="radio" id="female" value="woman" v-model="sex">Female
  </label>
  <h2>seleting: {{sex}}</h2>
</div>
<body>
<script src="vue.js"></script>
<script>
  const app = new Vue({
    el: '#app', // 用于要挂载的元素
    data: {
      message: 'msg',
      sex:''
    }
  })

</script>
</body>
</html>
